<div id="<%= divId %>">
	<% if(subnavItems.length>0) { %><nav class="navigation-container">
		<ul class="<%= subnavClass %>">
	<% _.each(subnavItems, function(item, k){ %><li ng-class="{active: activeSubNav == <%= k %>}" ng-click="changeSubNav($index)"></li>
	<% }); %>
		</ul>
	</nav><% } %>
	<div class="content-holder <% if(subnavItems.length>0){ print('nav-on') } %> <% if(includeFooter){ print('footer-on') } %>">
	</div>
	<% if(includeFooter) { %><div class="actionfooter">
		<ul class="<%= footerClass %>">
			<% _.each( footerButtons, function(item, k) { %><li>
				<div id="<%= item %>" ng-click="<%= item %>Click()" ng-class="{on: false}"></div>
			</li><% }); %>
		</ul>
	</div><% } %>
</div>